DEV_MYSQL_ROOT_PASSWORD=pjvmsrootpass213
DEV_MYSQL_DATABASE_NAME=pjvmsdb
DEV_MYSQL_USER=pjvmsuser
DEV_MYSQL_PASSWORD=pjvmsuserpass213
DEV_BASE_HOST=192.168.1.20
DEV_MYSQL_PORT=3306
DEV_BASE_URL=http://192.168.1.20
